 body {
                font-family:"Arial,sans-serif";
                background-color:black;
                color:white;
            }

            .container {
                display:flex;
            }

            .button{
                padding:10px 20px;
                background-color:green;
                border:none;
                border-radius:20px;
                color:white;
                cursor:pointer;
            }

            .sidebar {
                width: 250px;
                background-color: #121212;
            }

            .logo-container {
                display:flex;
                align-items:center;
                gap: 10px;
                margin-top: 30px;
            }


            .logo-text{
                font-size:22px;
                font-weight:bold;
            }


            .menu p{
                padding:15px 20px;
                margin:0;
                cursor:pointer;
            }

            .menu p:hover{
                background-color:gray;
            }

            .main{
                flex:1;
                padding:20px;
            }

            .header {
                display:flex;
                justify-content:space-between;
                align-items:center;
            }

            .header-search input{
                padding:12px;
                font-size:18px;
                border-radius:25px;
                border:none;
                outline:none;
                height:55px;
                width:350px;
            }
            

            .playlists {
                display:flex;
                gap:20px;
            }

            .singers{
                display:flex;
                gap:20px;
            }

            .card {
                padding:10px;
                border-radius:8px;
                width:150px;
                cursor:pointer;
            }

            .card img{
                height:50%;
                width:100%;
                border-radius:8px;
            }

            .card:hover {
                background-color:gray;
            }

            .button{
                padding:10px 20px;
                background-color:green;
                border:none;
                border-radius:50px;
                color:white;
                cursor:pointer;
            }

            .button:hover{
                background-color:black;
            }

            #side{
                display:inline-block;
            }

   